h1{
    color:darkred    
}
span{
    color:crimson
}
h3{
    color:saddlebrown
}

body{
    background-color: palegoldenrod ;
}

#GAY11{
    color:red;
}

.WOW{
    color: orange;
    font-size: 40px;
    font-family: fantasy;
}

#ERR{
    color:yellow
}